img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    scale: 75%;
    border: 3px solid #fff;
    border-radius: 10%;
}

.contents {
    max-width: 600px;
    margin: auto;
    color: chartreuse;
    font-size: large;
    font-style: bold;
}

h2 {
    color:#fff;
}

h3 {
    color:#fff;
}

body {
    background-color: #000;
}